<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <!-- url -->
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/sportyshoes_project_2</property>

    <!-- username -->
    <property name="hibernate.connection.username">root</property>

    <!-- password -->
    <property name="hibernate.connection.password">Baran1234</property>

    <!-- mysql driver -->
    <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>

    <!-- show sql -->
    <property name="hibernate.show_sql">true</property>

    <property name="hibernate.format_sql">true</property>

    <!-- hbm2ddl -->
    <property name="hibernate.hbm2ddl.auto">update</property>

    <mapping class="com.firsthelloworld.entity.Customer"/>
    <mapping class="com.firsthelloworld.entity.ContactDetails"/>
    <mapping class="com.firsthelloworld.entity.Shoe"/>
    <mapping class="com.firsthelloworld.entity.Cart"/>
    <mapping class="com.firsthelloworld.entity.Admin"/>
    <mapping class="com.firsthelloworld.entity.Phone"/>
    <mapping class="com.firsthelloworld.entity.Login"/>
    <mapping class="com.firsthelloworld.entity.Order"/>

  </session-factory>
</hibernate-configuration>